<div class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a href="@Url.Action("Index", "Home")" title="Home" class="links navbar-brand">
                <img alt="List View" src="@Url.Content("~/Theming/images/navbar.png")"> 
            </a>
            <span class="navbar-text">
                @{ var name = Session["UserName"] ?? "Customer"; }
                Welcome @name
            </span>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="@Url.Action("Index", "Home")">&nbsp;&nbsp;<i class="fa fa-briefcase"></i> Projects&nbsp;&nbsp;</a>
            </li>
            <li class="dropdown active">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">&nbsp;&nbsp;<i class="fa fa-user"></i>&nbsp;&nbsp;</a>
                <ul class="dropdown-menu">
                    @if (Session["UserName"] == null)
                    {
                        <li>@Html.ActionLink("Sign In", "Index", "Login")</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Preferences", "Index", "Preferences")</li>
                        <li>@Html.ActionLink("Sign Out", "LogOut", "Login")</li>
                    }
                </ul>
            </li>
        </ul>
    </div>
</div>